.body .html {

}

#root {
    background-image: url("./back.png");
    background-size: 300px 300px;
    background-repeat: repeat;
    /*검증완료*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    display: flex;
    flex: 0; /* flex: 1 1 0 */
    flex-direction: column;
    /*이건 배경화면엣지를 0,0,0,0 좌표로 지정*/
}

.app {

    font-size: 11pt;
    font-family: monospace;
    width: 750px;
    height: 750px;
    background-color: rgba(255, 255, 255, 0.5);

    border: 2px solid;
    margin: auto;
    display: flex;
    flex: 1; /* flex: 1 1 0 */
    flex-direction: column;


}

.upperBar {
    background-color: rgba(255, 114, 207, 0.25);
    height: 30px;
    flex: 1 0 inherit;
    margin-top: auto;
}

.downside {
    background-color: rgba(255, 114, 207, 0.25);
    height: 30px;
    flex: 1 0 inherit;
    margin-bottom: auto;
}

.main-container {
    /*background-color: rgba(255, 8, 0, 0.93);*/
    display: flex;
    width: auto;

    flex-direction: row;
    flex: 1 1 0; /* flex: 1 1 0 */
    overflow: auto;
}

.leftMenu {
    background-color: rgba(255, 253, 85, 0.5);
    max-width: 200px;
    padding: 5px;
    flex: 1 1 0; /* flex: 1 1 0 */

    display: inline-flex;
}

.contents {
    background-color: rgba(156, 255, 192, 0.5);
    padding: 5px;
    flex: 1 1 0;
    display: inline-flex;
    /* flex: 1 1 0 */
}

/*부모 width를 그대로 따라가네..? 어떻게 해 이놈을 */

.activeList{
    background-color: rgba(255, 105, 10, 0.65);
    margin-bottom: 3px;
    padding: 10px;

}

.inactiveList{
    background-color: rgba(61, 177, 255, 0.65);
    margin-bottom: 3px;
    padding: 10px;
    border: #ffffff 8px;
}

.Todo-box {
    max-width: auto;
    display: block;
    flex: 1 0 95%;
}


.CheckPointBox {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);

    height: 30px;
    width: 30px;
    padding: 10px;
}


.CheckBox {
    width: 17px;
    height: 17px;
    display: inline-block;
    padding: 10px;
}

.Todos-txt {
    display: inline-block;
    padding: 10px;
}

.modifiyDo-box {
    display: inline-block;
    padding: 10px;
}

.InputDo-box {
    display: inline-block;
    padding: 10px;
}

.InputGroup-Box {
    display: inline-block;
    padding: 10px;
}

.group-box {
    background-color: rgba(255, 255, 255, 0.75);

    display: block;
    padding: 10px;
    background-color: #ffd518;
    margin-bottom: 5px;
}

.Find-Box {
    background-color: rgba(255, 255, 255, 0.75);
    height: 3.2em;
    background-color: #da4e4b;
    margin-bottom: 5px;
}

.Find-Input-Box {
    display: inline-block;
    padding: 10px;
}

.Find-Input-ICON {
    display: inline-block;
    padding: 10px;
}


