.html {
    width: auto%;
    height: auto%;
}

.body {
    background-image: url("./back.png");
    background-size: 400px;
    width: auto;
    height: auto;
    position: relative;
    font-size: 11pt;
    font-family: monospace;

}

.app {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);


    position: absolute;
    top: 5%;
    left: 24%;

    height: 600px;
    width: 800px;

    border: 2px solid;

}

.CheckPointBox {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);

    height: 30px;
    width: 30px;
    padding: 10px;
}

.leftMenu {
    background-color: rgba(255, 246, 186, 0.75);

    height: 580px;
    /*background-color: #f7ffd0;*/
    width: 200px;
    float: left;
    padding: 10px;
    display: block;
}

.Contents {
    background-color: rgba(255, 255, 255, 0.75);

    height: 800px;
    background-color: grey;
    width: 600px;
    display: inline-block;
}

.CheckBox {
    width: 17px;
    height: 17px;
    display: inline-block;
    padding: 10px;
}

.Todos-txt {
    display: inline-block;
    padding: 10px;
}

.modifiyDo-box {
    display: inline-block;
    padding: 10px;
}

.InputDo-box {
    display: inline-block;
    padding: 10px;
}

.InputGroup-Box {
    display: inline-block;
    padding: 10px;
}

.group-box {
    background-color: rgba(255, 255, 255, 0.75);

    display: block;
    padding: 10px;
    /*border: 10px solid #4f0500;*/
    background-color: #ffd518;
    margin-bottom: 5px;
}

.Find-Box {
    background-color: rgba(255, 255, 255, 0.75);

    height: 3.2em;
    background-color: #da4e4b;
    margin-bottom: 5px;
}

.Find-Input-Box {
    display: inline-block;
    padding: 10px;
}

.Find-Input-ICON {
    display: inline-block;
    padding: 10px;
}

.pastedList {

}

.Todo-box {
    background-color: rgba(255, 167, 17, 0.65);
    margin-bottom: 3px;
    padding: 10px;
    border: #ffffff 8px;

}