@font-face {
    font-family: 'NanumSquareWeb';
    src: url(NanumSquareR.woff) format('woff')
}

.body .html {

}

#root {
    background-image: url("./back.png");
    background-size: 300px 300px;
    background-repeat: repeat;

    /*검증완료*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    display: flex;
    /*flex: 1; !* flex: 1 1 0 *!*/

    flex-direction: column;
    align-items: center;

    /*이건 배경화면엣지를 0,0,0,0 좌표로 지정*/
}

.app {


    font-family: monospace;

    background-color: rgba(248, 255, 0, 0);
    margin: auto 0;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

}

.upperBar {
    width: 800px;
    height: 150px;
    flex: 0 1 0;
    display: inline;
    font-size: 5em;
    text-align: center;
    margin-bottom: auto;

    font-family: NanumSquareWeb;

    background-color: rgba(235, 0, 117, 0.02);
    color: #ffffff;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255,0.4);
}

.downside {
    background-color: rgba(255, 127, 39, 0.1);
    height: 50px;
    flex: 0 1 0;
    margin-bottom: auto;
}

.main-container {
    font-size: 12pt;
    border: 2px solid;
    display: flex;
    width: auto;

    flex-direction: row;
    flex: 1 1 0;
    overflow: auto;
}


.contents {
    border-left: 2px solid;
    background-color: rgba(245, 245, 218, 0.85);
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 0; /* flex: 1 1 0 */
    /*height: 500px;*/
}

.activeList {
    /*background-color: rgba(255, 105, 10, 0.65);*/
    margin-bottom: 3px;
    padding: 10px;
    flex: 0 0 1;
}

.inactiveList {
    /*background-color: rgba(61, 177, 255, 0.65);*/
    border-top: 2px solid;
    padding: 5px;
    flex: 1 0 0;
    /*margin-top: auto;*/
}

.realInput {
    /*display: inline;*/
    background-color: rgba(82, 73, 255, 0.00);
    width: 100%;
    box-sizing: border-box;
    /*밖으로 다 채워주는 역할*/

    font-size: 1.3em;
    padding: 12px 20px 12px 40px;
    margin: 8px 0px 0px 0px;


    background-image: url("./pencil2.png");
    background-size: 1.3em;
    background-position: 10px 10px;
    background-repeat: no-repeat;

    border: 2px solid #ccc;
    border-radius: 4px;

    flex: 0 0 1;
}


.add-Icon {
    font-size: 2em;
    margin-left: 10px;
    size: 10px;
}


.Todos-txt {
    display: inline-block;
    padding: 10px;
}


.CheckPointBox {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);

    height: 30px;
    width: 30px;
    padding: 10px;
}


.CheckBox {
    width: 17px;
    height: 17px;
    display: inline-block;
    padding: 10px;
}

.modifiyDo-box {
    display: inline-block;
    padding: 10px;
}

.actTodo {
    flex: 1;
}

.inactTodo {
    background: #21ff88;
    margin-top: auto;
    flex: 1;
}

.InputDo-box {
}

.InputNewDo-BOX {
}

.inputDo {
    height: 2em;
    margin-bottom: auto;
    margin-left: auto;
}


.leftMenu {
    background-color: rgba(255, 249, 240, 0.44);
    max-width: 250px;
    padding: 5px;
    display: inline-flex;
    flex: 1; /* flex: 1 1 0 */
    flex-direction: column;
}

.inputBox {

    width: 100%;
    box-sizing: border-box;
    /*밖으로 다 채워주는 역할*/

    font-size: 1.3em;
    padding: 12px 20px 12px 40px;
    margin: 8px 0px 0px 0px;

    background-color: rgba(255, 240, 244, 0.21);

    background-image: url("./pencil2.png");
    background-size: 1.3em;
    background-position: 10px 10px;
    background-repeat: no-repeat;

    border: 2px solid #ccc;
    border-radius: 4px;

    flex: 0 0 1;
}
.InputGroup-Box {
    /*paddingpx;*/
}

.group-box {
    /*background-color: rgba(134, 153, 255, 0.22);*/

    display: block;
    /*padding: 10px;*/
    margin-bottom: 5px;

    border-bottom-left-radius: 5px;
    /*margin-right:*/

    border: 1px solid rgba(235, 82, 15, 0.44);
    background-color: rgba(0, 0, 0, 0);
    color: #002e36;
    padding: 5px;
}

.group-box:hover {
    color: white;
    background-color: #eb0041;
}

.Find-Box {
    background-color: rgba(255, 246, 78, 0.38);
    height: 3.2em;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 1;
    flex-direction: row;
    display: flex;

    border: 2px solid rgba(204, 204, 133, 0.73);
    border-radius: 4px;

}

/*// 조정대상*/
.Find-Input-Box {
    /*border: 1px solid #eb520f;*/
    width: 80%;
    padding: 10px;
    flex: 1;
    background-color: rgba(255, 249, 240, 0);
    font-size: 1.3em;
}

.Find-Input-ICON {
    flex: 1 0 1;
    padding: 10px;
    font-size:1.5em;
    margin: auto 0;
    width: 10%;
}


